<!DOCTYPE html>
<html ng-app="edeem">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Edeem</title>
	<link rel="shortcut icon" type="image/png" href="favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="views/index.css">
	<script type="text/javascript" src="libs/angular.js"></script>
	<script type="text/javascript" src="libs/angular-mocks.js"></script>
	<script type="text/javascript" src="libs/angular-ui-router.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="services/MenuSvc.js"></script>
	<script type="text/javascript" src="services/CartSvc.js"></script>
	<script type="text/javascript" src="controllers/IndexCtrl.js"></script>
	<script type="text/javascript" src="controllers/MenuCtrl.js"></script>
	<script type="text/javascript" src="controllers/ItemCtrl.js"></script>
	<script type="text/javascript" src="controllers/CartCtrl.js"></script>
</head>
<body ng-controller="IndexCtrl">
	<div class="logo" ng-click="scrollToTop(200)">
		<div class="text">ED<span style="color:#db9340">EE</span>M</div>
	</div>

  	<div class="content" ui-view="content"></div>
	
	<div class="background">
		<div class="over-shadow"><div class="shadow"></div></div>
		<div class="over"></div>
	</div>

	<div class="cart" ng-click="goTo('cart')" ng-if="getCartItems()>0">
		{{getCartItems()|DishCount}} : {{getCartPrice()}}₽<br>
		<span style="color:white">В КАРЗИНУ</span>
	</div>
</body>
</html>