.button {
	height: 64px;
	
	margin: 8px;
	margin-top: 16px;
	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
	background-color: hsla(32, 10%, 20%, 1);
	color: #db9340;
	
    font-family: Oswald;
    font-size: 32px;
	line-height: 64px;
	text-align: center;
	
	user-select: none;
	cursor: pointer;
	transition: 0.1s;
}

.button:hover {
	transform: translateY(-8px);
}

.button:active {
	transform: translateY(-16px) scale(1.02);
}