@media only screen and (min-width: 750px) {
	.navigation .button:hover {
		transform: scale(0.98);
		box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	}
	.navigation .button:active {
		transform: scale(0.96);
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	}
}
@media only screen and (min-width: 0px) and (max-width: 750px) {
	.item {
		height: 100px !important;
	}
	.item>.card {
		display: block !important;
		width: calc(100% - 72px - 32px) !important;
	}
	.item>.card>.title {
		width: calc(100% - 64px) !important;
	}
	.item>.card>.info {
		float: right;
		height: 33.3% !important;
		line-height: 33.3px !important;
	}
	.item>.card>.image {
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 8px;
	}
	.item>.buttons {
		width: 72px !important;
	}
	.item>.buttons>.button {
		font-size: 50px !important;
		width: 100% !important;
	}
	.item>.buttons>.button.delete {
		display: none;
	}
}
@media only screen and (min-width: 0px) and (max-width: 610px) {
	.item>.card>.title {
		font-size: 18px !important;
	}
	.navigation .button {
		font-size: 24px !important;
		line-height: 48px !important;
		margin-left: 8px !important;
		margin-right: 8px !important;
	}
	.item>.card>.info {
		font-size: 24px !important;
	}
	.item>.card>.info>div {
		padding: 0px !important;
	}
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
	.item>.card>.title {
		font-size: 14px !important;
	}
}

.navigation {
	display: flex;
	width: 100%;
}

.navigation .button {
	height: 48px;
	width: 100%;
	margin: 16px;
	padding: 8px;
	
	box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
	color: hsla(32, 10%, 20%, 1);
	background-color: white;
	
    font-family: Oswald;
    font-size: 42px;
	line-height: 42px;
	text-align: center;
	
	user-select: none;
	cursor: pointer;
	transition: 0.1s;
}

.button.back {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.button.forward {
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

.button:hover {
	background-color: lightgray;
}

.button:active {
	background-color: hsla(32, 10%, 20%, 1);
	color: #db9340;
}

.item {
	position: relative;
	display: block;

	width: 100%;
	height: 64px;
	margin: 8px;
}

.item.ng-leave {
	transition: 0.4s;
}
	 
.item.ng-leave-active {
	transform: translateX(-200%)
}

.item>.card {
	display: flex; 
	justify-content: space-between;
	transform: translateX(0);
	
	float: left;
	width: calc(100% - 144px - 32px);
	height: 100%;
	
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: white;
	box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
}

.item>.card>div {
	float: left;
}

.item>.card>.image {
	left: 0px;
	top: 0px;
	width: 64px;
	min-width: 64px;
	height: 64px;
	min-height: 64px;
	
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	
	background-color: rgb(190,190,190);
}

.item>.card>.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

	font-family: Oswald;
	text-indent: 16px;
	
	font-size: 24px;
	line-height: 64px;
	text-shadow: 0px 4px 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
	color: #160b08;
}

.item>.card>.info {
	display: block;
	margin-left: auto;
	min-width: max-content;
	height: 100%;

	font-size: 32px;
	line-height: 64px;
	font-family: Oswald;
	text-shadow: 0px 4px 1px rgba(0,0,0,0.1);
}

.item>.card>.info>.count {
	float: right;
	padding-left: 16px;
	padding-right: 16px;
	width: max-content;
	min-width: 108px;
	text-transform: none !important;

	text-align: center;
	text-transform: uppercase;
	color: #160b08;
}

.item>.card>.info>.price {
	float: right;
	padding-left: 16px;
	padding-right: 16px;
	width: max-content;
	min-width: 96px;

	text-align: center;
	text-transform: uppercase;
	color: #160b08;
}

.item>.card>.info>.splitter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	float: right;
	width: 1px;
	height: 85%;

	background-color: hsl(32, 10%, 20%);
}

.item>.buttons {
	float: right;
	overflow: hidden;

	width: 144px;
	height: 100%;

	margin-left: 16px;
	margin-right: 16px;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: white;
	box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
}

.item>.buttons>.button {
	float: left;
	width: calc(50% - 1px);
	height: 50%;

	font-family: Oswald;
    font-size: 32px;
	line-height: 100%;
	text-align: center;
	
	user-select: none;
	cursor: pointer;
	transition: 0.1s;
}

.button.delete {
	border-right: solid 1px hsla(32, 10%, 20%, 0.4);
	height: 100% !important;
    line-height: 64px !important;
}

.button.add {
	border-bottom: solid 1px hsla(32, 10%, 20%, 0.4);
}

.total {
	float: right;
	margin: 8px;
	padding: 8px;
	min-width: 256px;

	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

	font-family: Oswald;
    font-size: 32px;
	line-height: 32px;
	text-align: center;

	background-color: white;
	box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: max-content;
	height: 32px;
	line-height: 32px;
	background-color: hsla(32, 10%, 20%, 1);
	color: #fff;
	padding: 8px;
	border-radius: 6px;

	text-indent: 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);

	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: hsla(32, 10%, 20%, 1) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	pointer-events: none;
	opacity: 0.8;
}