<link rel="stylesheet" type="text/css" href="views/cart.css">

<div class="wrapper">
    <form method="POST" action="http://demo.paykeeper.ru/create/" style="display:none">
        <input type="hidden" name="sum" value="{{getCartPrice()}}"/>
        <input type="hidden" name="orderid" value="1"/>
        <input type="hidden" name="service_name" value="Edeem payment"/>
        <input style="display:none" id="submit" ng-model="hoverForward" ng-mouseover="hoverForward=true" ng-mouseleave="hoverForward=false" type="submit" value="{{hoverForward?'К ОПЛАТЕ':'►'}}" />
    </form>
    <div class="navigation" ng-model="hover">
        <div class="button back" 
            ng-click="goTo('menu')">◄ МЕНЮ</div>
        <div class="button forward" ng-click="submit()">ОПЛАТА ►</div>
    </div>
    <div ng-repeat="item in cart" class="item">
        <div class="card" ng-swipe-left="delete(item.id)" ng-swipe-disable-mouse>
            <div class="image"></div>
            <div class="title tooltip">{{item.title}}<span class="tooltiptext">{{item.title}}</span></div>
            <div class="info">
                <div class="price">{{item.count * item.price}}₽</div>
                <div class="splitter"></div>
                <div class="count">{{item.price}}₽ x{{item.count}}</div>
                <div class="splitter"></div>
            </div>
        </div>
        <div class="buttons">
            <div class="button delete" ng-click="delete(item.id)">🗑</div>
            <div class="button add" ng-click="add(item)">+</div>
            <div class="button remove" ng-click="remove(item.id, 1)">-</div>
        </div>
    </div>
    <div class="total" ng-if="getCartPrice() > 0">ИТОГО: {{getCartPrice()}}₽</div>
</div>