@media only screen and (min-width: 1280px) {
	.items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (min-width: 700px) and (max-width: 1280px) {
	.items {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
	.items {
		grid-template-columns: 1fr;
	}
}

.items {
	display: grid;
}

.item-wrapper {
	transform: translateY(0px);
	transition: 0.1s;
	perspective: 250px; 
}

.item {
	max-width: calc(100% - 16px);
	min-width: 251px;
	height: 200px;
	transform: translateY(0px);
	
	margin: 8px;
	padding: 8px;
	overflow: hidden;
	
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
	
	cursor: pointer;
	transition: 0.1s;
	z-index: 100;
}

.item-wrapper.notavailable {
	filter: saturate(0);
}

.item-wrapper:not(.notavailable):hover {
	transform: translateY(-8px);
}

.item-wrapper:not(.notavailable):active {
	transform: translateY(-16px) scale(1.02);
}

.item>.top {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
}

.item>.top>.title {
	position:absolute;
	width: 100%;
	text-align: center;
	font-family: Oswald;
	
	font-size: 24px;
	text-shadow: 0px 4px 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
	color: #160b08;
}

.item.notavailable>.top>.title {
	text-decoration: line-through;
}

.item>.image {
	position: absolute;
	left: 26%;
	bottom: 0px;
	transform: translateX(-50%);
	width: 128px;
	height: 128px;
	
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	
	background-color: rgb(190,190,190);
}

.item>.info {
	position: absolute;
	left: 50%;
	bottom: 0px;
	width: auto;
	height: 128px;
	
	font-family: Didact;
	color: #353535;
}

.to-cart {
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: calc(64px - 16px);
	width: calc(50% - 8px);
	user-select: none;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	font-family: Oswald;
	line-height: calc(64px - 16px);;
	text-align: center;
	font-size: 28px;

	background-color: #db9340;
	color: hsla(32, 10%, 20%, 1);
	cursor: pointer;
	transition: 0.1s;
	pointer-events: fill;

	z-index: 200;
}

.to-cart:hover {
	transform: scale(1.1);
	border-radius: 8px;
	box-shadow: 0px 0px 16px black;
}

.to-cart:active {
	transform: translate(-4px,4px) scale(1.097);
	color: #db9340;
	background-color: hsla(32, 10%, 20%, 1);
}

.to-cart:hover + .item {
	transform-style: preserve-3d;
	transform-origin: 0 100%;
    transform: rotateY(10deg);
}